/* Write your CSS here */
.list-flex-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}
.check-box {
  height: 20px;
  width: 20px;
  margin-right: 2px;
}
.title {
  font-family: 'roboto';
  font-size: 12px;
  color: #000000;
  font-weight: 500;
  margin: 0;
  width: 60%;
}
@media screen and (max-width: 576px) {
  .btn {
    height: 10px;
    width: 60px;
  }
  .edit-btn {
    height: 20px;
    width: 60px;
    border-radius: 8px;
    background-color: transparent;
    color: #a1136e;
    border-color: #a1136e;
    text-align: center;
    margin-right: 4px;
  }
}
.btn {
  height: 30px;
  width: 80px;
  border-radius: 8px;
  background-color: transparent;
  color: #ff0b37;
  border-color: #ff0b37;
  text-align: center;
  margin-right: 4px;
  outline: none;
  cursor: pointer;
}

.edit-btn {
  height: 30px;
  width: 80px;
  border-radius: 8px;
  background-color: transparent;
  color: #a1136e;
  cursor: pointer;
  border-color: #a1136e;
  text-align: center;
}

@media (min-width: 767px) {
  .title {
    font-size: 20px;
  }
}

.editing-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.edit-input {
  outline: none;
  height: 30px;
  margin-left: 10px;
  width: 60%;
  margin: 10px;
  font-family: 'roboto';
  font-size: 14px;
  font-weight: 500;
}
.save-btn {
  background-color: #1247ed;
  height: 30px;
  width: 60px;
  font-size: 14px;
  font-family: 'roboto';
  font-weight: 500;
  color: #ffffff;
  outline: none;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-left: 5px;
  border-radius: 8px;
}
.checked {
  text-decoration: line-through;
}
.not-checked{
  text-decoration: none;
}